body {
    background-color: lightgrey;
}

table{
    border: 2px solid darkorchid;
}

thead {
    background-color: violet;
}

td {
    border-top: 1px solid darkorchid;
  }

  .code {
      font-family: 'Courier New', Courier, monospace;
      background-color: wheat;
  }

  